* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: acumin-pro, system-ui, sans-serif;
    
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #F4ECF7;
  background: url("imagenes/fondo.jpg");
}

#contenedor {
  background-color: #D7BDE2;
  border-radius: 0.5em;
  padding: 4em 2em;
  overflow: hidden;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  }

h1 {
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
  color: white;
  margin-bottom: 1em;
  font-family: 'Lobster', sans-serif;
  text-shadow: 2px 2px 4px #633974;
}

textarea {
  resize: none;
  width: 100vh;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  color: #4A235A ;
  margin-top: 10px;
  font-weight: 500;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.metricas {
  border: 1px solid #BB8FCE;
  background-color: white;
  font-size: 12px;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  box-sizing: content-box;
  font-weight: 500;
  display: inline-block;
  color: #271031;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);;
}

ul {
  list-style: none;
}

#reset-button {
  color: #ffffff;
  width: 100vh;
  background-color: #BB8FCE;
  border-radius: 0.5em;
  position: relative;
  padding: 1.5em 0;
  margin-top: 1em;
  border: none;
  outline: none;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}